<div *ngIf="isModalOpen" [config]="{ show: true }" bsModal #modalElectionDetail="bs-modal" (onHidden)="onHidden()"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-header" [ngStyle]="{
        'background-image': 'url(' + election.electionImage + ')',
        'background-size': 'cover',
        'background-position': 'center center'
      }">
        <h1> &nbsp; <br /> &nbsp; </h1>
        <button type="button" class="close pull-right" aria-label="close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mb-3">
            <h3 class="w-100 text-center pointer text-primary">
              <a routerLink="/election/{{ election.id }}" class="text-decoration-none pointer">
                {{ election.electionName }}
              </a>
            </h3>
            <h5 class="text-muted w-100 text-center">
              {{ election.electionDescription }}
            </h5>
          </div>
          <div class="row mb-3">
            <div class="col my-auto p-0">
              <div class="mb-3 col-12 text-center">
                <ul class="list-unstyled row" style="max-height: 25vh; overflow-y: auto;">
                  <li class="media border-bottom mb-1 p-1 list-group-item-action col-md-6 col-lg-4" *ngFor="let i of candidateListInfo">
                    <img class="align-self-center mr-3" src="{{ i.image }}" height="64px" />
                    <div class="media-body text-truncate text-left">
                      <div class="m-0 pt-2">
                        <a routerLink="/user/{{ i.pubKey }}" style="cursor: pointer;">{{ i.name }}</a>
                      </div>
                      <small class="pb-2">{{ i.email }}</small>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-12 text-center" *ngIf="!this.as.currentUserValue">
                <button type="button" class="btn btn-sm btn-outline-danger" routerLink="/login">
                  Harap Masuk / Daftar Untuk Ikut Serta
                </button>
              </div>
              <div class="col-12 text-center" *ngIf="this.as.currentUserValue">
                <div *ngIf="this.as.currentUserValue.role == 'voter' && election.electionCreator != this.as.currentUserValue.pubKey">
                  <div *ngIf="election.electionIsActive == 1">
                    <button type="button" *ngIf="joined == null"
                      class="btn btn-sm btn-outline-primary" (click)="confirmjoinElection()">
                        Daftar Sebagai Partisipan Pemilih
                    </button>
                    <p *ngIf="joined == 0">
                      Pendaftaran Sebagai Partisipan Telah Dikirimkan Dan Menunggu Konfirmasi Pemilik
                    </p>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-primary"
                    *ngIf="joined == 1 || election.electionIsActive == 0" routerLink="/election/{{ election.id }}" >
                    Menuju Halaman Detail Pemilihan
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <small class="col-6 text-left text-muted mt-auto">{{ election.electionId }}</small>
            <small class="col-6 text-right text-muted" *ngIf="this.as.currentUserValue">
              <a routerLink="/my-election" class="text-danger"
                *ngIf="election.electionCreator == this.as.currentUserValue.pubKey && !router.url.includes('/election/')">
                  You're The Owner, Manage This Election
                  <i class="fa fa-fw fa-arrow-right"></i>
              </a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-confirm-modal (submitButton)="confirmModalCallback($event)"></app-confirm-modal>