<div class="container py-3 bg-default">
  <div class="row">
    <div class="col-md-12 bg-default">
      <div class="row mt-3 mb-3">
        <div class="col-12 pb-3 sticky-top bg-default">
          <h3 class="pt-3 pb-2 border-bottom-dotted">
            <a class="btn btn-outline-warning float-right btn-sm mt-1 text-success" (click)="refreshData();">
              <i class="fas fa-sync mr-1"></i>
              Refresh
            </a>
            <b class="text-secondary">All Election</b>
          </h3>
        </div>
        <div class="col-12 bg-default pt-1">
          <table id="electionTable" class="pt-1 table table-bordered table-hover table-sm w-100">
            <thead>
              <tr>
                <th style="width: 112px;">Image</th>
                <th style="width: 192px;">Name</th>
                <th style="width: 320px;">Description</th>
                <th style="width: 256px;">CreatedAt</th>
              </tr>
            </thead>
          </table>
          <!-- <div class="list-group d-flex flex-row flex-wrap">
            <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]"
              class="list-group-item col-md-6 list-group-item-action p-1 bg-default border-top-0 border-right-0 border-left-0 border-bottom">
              <div class="media text-truncate">
                <img class="align-self-center mr-3" src="http://via.placeholder.com/144x81" />
                <div class="media-body pr-3">
                  <h5 class="m-0 pt-2">
                    <a routerLink="/election/{{ i }}">{{ i }}</a>
                  </h5>
                  <p class="m-0 pb-2 text-muted">{{ i.toString() | slice:0:30 }}*****</p>
                  {{ i }}
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-election-detail></app-modal-election-detail>
