<!-- Footer -->
<footer>
  <div class="gitHub ShadowsIntoLight d-none d-md-block" style="float: right; font-size: 12px;">
    <a href="https://github.com/bifeldy/blockchain-evoting">
      <i class="fa fa-fw fa-code-fork"></i>
      {{ githubLastCommit ? githubLastCommit.commit.message : '' }}
    </a>
    &nbsp;
  </div>
  <div class="bifeldy-footer ShadowsIntoLight" style="float: left; font-size: 12px;">
    &nbsp;
    <span class="copyleft">
      <font color="#20ff6b">&copy; </font>
    </span> 
    <font color="#ffffff"> 2012 </font>
    <font color="#00FFFF">All-Wrong </font>
    <font color="#fbce78">UnReserved. </font>
    <font color="#000000">|| </font>
    <font color="#20ff6b">B. </font>
    <font color="#ffffff">Bias </font>
    <font color="#00FFFF">A. </font>
    <font color="#fbce78">Ch. </font>
    &nbsp;
  </div>
</footer>