/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: "Open Sans", sans-serif !important;
  color: #353535;
  font-size: 87.5%;
}

/* 
    CSS Untuk Keseluruhan Halaman Website
    -- Basilius Bias Astho Christyono
    -- bias.astho@gmail.com
*/

/* Browser Settings */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #20ff6b;
}

::-webkit-scrollbar-thumb {
  background: #fbce78;
}

.bifeldy {
  padding-top: 53px;
  padding-bottom: 18px;
}

.sticky-top {
  top: 53px;
  z-index: 1;
}

/*******************************************************************************************************/

/* Mobile */

@media screen and (max-width: 767px) {
  .bifeldy-title {
    margin: 20px;
    margin-top: 65px;
  }
  /* Notification */
  .notification {
    padding-left: 0;
    padding-right: 0;
  }
  /* Search Box */
  .bifeldy-search-container {
    margin-top: 10px;
    padding: 6px 16px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  .bifeldy-search-container input[type=text] {
    width: calc(100% - 30.58px);
  }
  /* Navbar */
  .bifeldy-navbar {
    height: 0;
    width: 100%;
    background-position-y: calc(100% - 85px);
    background-size: 50%;
  }
  .bifeldy-navbar a:last-child {
    margin-bottom: 32px;
  }
  .bifeldy-navbar .banner {
    width: 100%;
  }
  .bifeldy-navbar .visibleMenu {
    display: inline-block;
  }
  .navbar {
    padding-right: 0.5rem;
  }
}

/*******************************************************************************************************/

/* Desktop */

@media screen and (min-width: 768px) {
  .bifeldy {
    padding-left: 58px;
  }
  /* Website Title */
  .bifeldy-title {
    margin-left: 100px;
    margin-top: 75px;
  }
  /* Navbar Atas */
  .bifeldy-logo {
    margin-left: -7px;
  }
  .bifeldy-logo>b {
    margin-left: 5px;
  }
  .bifeldy-search-container {
    float: right;
  }
  /* Notification */
  .notification {
    padding-left: 0;
    padding-right: 0;
  }
  /* Navbar */
  .navbar {
    padding: 0.5rem 0 0.5rem 1rem;
  }
  .nav-item>#notif-open-close {
    margin-right: 0.5rem;
  }
  .bifeldy-navbar {
    height: 100%;
    width: 58px;
    top: 0;
    background-position-y: calc(100% - 35px);
    background-size: 50%;
  }
  .bifeldy-navbar:hover {
    width: 250px;
    transition: 0.25s;
  }
  .bifeldy-navbar a:last-child {
    margin-bottom: 32px;
  }
  .bifeldy-navbar .banner {
    width: 250px;
  }
  .bifeldy-navbar .visibleMenu {
    display: none;
  }
  .bifeldy-search-container input[type=text] {
    width: 200px;
    transition: .5s;
  }
  .bifeldy-search-container input[type=text]:focus {
    width: 300px;
    transition: .5s;
  }
  /* Sticky Top On Scroll */
  .sticky {
    left: 29px;
  }
}

/*******************************************************************************************************/

/* Font Class */

.Roboto {
  font-family: 'Roboto';
}

.Nunito {
  font-family: 'Nunito';
}

.CormorantGaramond {
  font-family: 'Cormorant Garamond';
}

.IndieFlower {
  font-family: 'Indie Flower';
}

.NanumPenScript {
  font-family: 'Nanum Pen Script';
}

.ShadowsIntoLight {
  font-family: 'Shadows Into Light Two';
}

/* HR */

hr.style1 {
  border-top: 1px solid #8c8b8b;
}

hr.style2 {
  border-top: 3px double #8c8b8b;
}

hr.style3 {
  border-top: 1px dashed #8c8b8b;
}

hr.style4 {
  border-top: 1px dotted #8c8b8b;
}

hr.style5 {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
}

hr.style6 {
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
}

hr.style7 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

hr.style8 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

hr.style8:after {
  content: '';
  display: block;
  margin-top: 2px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

hr.style9 {
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff;
}

hr.style10 {
  border-top: 1px dotted #8c8b8b;
  border-bottom: 1px dotted #fff;
}

hr.style11 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.style12 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

hr.style13 {
  border-top: 4px double #8c8b8b;
  text-align: center;
}

hr.style13:after {
  content: '\002665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
}

hr.style14 {
  border-top: 1px dashed #8c8b8b;
}

hr.style14:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -12px;
  left: 40px;
  padding: 0 3px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
}

hr.style15 {
  border-top: 1px solid #8c8b8b;
  text-align: center;
}

hr.style15:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

hr.style16 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.style16:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

/* Footer */

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

/* Default HTML Tags */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100%;
  background-color: #efefef;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23000000' fill-opacity='0.03125' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.navbar {
  background-image: linear-gradient(90deg, #4b30b8 0, #4b30b8);
  z-index: 4;
}

img {
  vertical-align: middle;
}

footer {
  position: fixed;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  background-color: #2e51a2;
  z-index: 4;
  width: 100%;
}

.bifeldy-active {
  background-color: #18c953;
}

.bifeldy-header {
  background-color: lightgray;
}

/* Search Box */

.bifeldy-search-container input[type=text] {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  background-color: #faffc4;
}

.bifeldy-search-container button {
  float: right;
  background: #d2476e;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.bifeldy-search-container button:hover {
  background: #fbce78;
}

#nav-open-close {
  float: right;
  font-size: 150%;
}

/* Menu Navigasi */

.bifeldy-navbar {
  position: fixed;
  left: 0px;
  transition: height 0.25s;
  background-color: rgb(102, 23, 0);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3;
}

.bifeldy-navbar::-webkit-scrollbar {
  width: 0 !important;
}

.bifeldy-navbar a {
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.bifeldy-navbar .visibleMenu {
  padding-left: 5px;
}

.bifeldy-navbar a:hover {
  background-color: rgb(200, 157, 122);
}

.bifeldy-navbar .search-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

/* Notification Alert */

.notification {
  width: 100%;
}

.alert {
  margin: 0;
}

.close-button {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 25px;
  cursor: pointer;
  transition: opacity display 0.5s ease-in-out;
  -webkit-transition: opacity display 0.5s;
}

.close-button:hover {
  color: red;
}

.timeStamp {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
}

/* Bootstrap Edit Konten */

.jumbotron {
  min-height: 268px;
  /* background: url('../img/banner-logo/banner-logo-atas.png') right no-repeat,
              url('../img/banner-logo/banner-logo-bawah.jpg') right repeat-x; */
  background-position: right;
  margin-top: 58px;
  margin-bottom: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.widget {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#announcement .widget-topic img {
  width: 100px;
}

#latest-post .widget-topic img {
  width: 125px;
}

/* Banner gambar */

.gambar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.gambar img {
  width: 100%;
  height: auto;
}

.gambar .close-button {
  margin-left: 0;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  cursor: pointer;
  transition: 0.25s;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 10px;
}

.gambar .close-button:hover {
  color: red;
}

/* Isi Kontent */

.widget-header {
  border-color: #ff9800;
  border-style: solid;
  border-width: 0 0 1px;
  color: #008022;
  font-size: 125%;
  font-weight: 700;
  margin: 0;
  padding: 3px 0;
}

.widget-content {
  padding: 0 10px;
  font-size: 100%;
}

.widget-topic {
  border-color: green;
  border-style: solid;
  border-width: 0 0 1px;
  padding: 3px;
  font-size: 100%;
  margin-top: 15px;
}

.widget-more {
  float: right;
}

.widget-creator {
  color: #661700;
  font-size: 87.5%;
}

.widget-topic a, .widget-more a, .widget-creator a, .media-body a, .widget-topic a:visited, .widget-creator a:visited, .widget-more a:visited, .media-body a:visited {
  color: #1d439b;
  text-decoration: none;
  font-size: 100%;
}

.gitHub a, .gitHub a:visited {
  color: #20ff6b;
  text-decoration: none;
  font-size: 12px;
}

.widget-topic a:hover, .widget-creator a:hover, .gitHub a:hover, .widget-more a:hover {
  color: #ff9800;
  text-decoration: none;
}

/* SpaceIt */

.spaceit {
  margin: 3px 0;
  padding: 3px 0;
}

/* Sticky Top On Scroll */

.sticky {
  position: fixed;
  top: -183px;
  z-index: 1;
}

/* Omages Overlay */

#overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  transition: opacity .5s, visibility .5s;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  padding: 1.5rem;
}

.overlay-content {
  float: right;
  color: whitesmoke;
  text-align: right;
}

/* Profile */

.user-profile-cap {
  width: 100%;
  height: auto 13;
  overflow: hidden;
  background-color: whitesmoke;
}

.user-profile-cover-img {
  width: 100%;
  height: 287px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-profile-headline {
  padding: 10px;
  font-size: 16px;
}

.user-profile-headline-img {
  width: 150px;
  height: 150px;
  float: left;
  margin: -100px 10px 10px 0;
  position: relative;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #EEEEEE;
  background-color: whitesmoke;
  border-radius: 50%;
}

.user-profile-headline h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.user-profile-headline h6 {
  font-family: verdana;
  color: gray;
}

.user-profile-headline-button {
  float: right;
  margin: 0 0 10px 10px;
  position: relative;
  z-index: 0;
}

.user-profile-headline-button i {
  font-size: 24px;
}

.bg-default {
  background-color: #efefef;
}

/* Multi Carousel */

.carousel-cell {
  width: 157px;
  height: 242px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  background-position: center center;
  background-size: cover;
  float: left;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  color: white;
}

.center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
  .center-screen {
    height: calc(100vh - 76px);
  }
}

.border-bottom-dotted {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: dotted;
  border-color: #d2476e;
}

/* Hosting Gretongan */

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
  display: none;
}
