<div class="center-screen" [ngStyle]="{
  'background-image': 'url(' + bgRegisterImg + ')'
}" *ngIf="!this.as.currentUserValue">
  <div class="container py-3">
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-7 col-md-9">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="fg" class="m-2">
              <div class="text-center mb-4">
                <img class="mb-4" src="/favicon.ico" alt="" />
                <h1 class="h3 mb-3 font-weight-normal">Hai, Selamat Datang! >_<"</h1>
                <p class="text-danger">{{ registerInfo }}</p>
              </div>
              <app-fade [show]="registerStep == 1">
                <div class="form-group row">
                  <label for="nik" class="col-md-4 col-form-label text-md-right">NIK</label>
                  <div class="col-md-8">
                    <input type="text" id="nik" [attr.disabled]="registerStep != 1 ? '' : null" class="form-control {{
                      !fg.get('nik').valid && fg.get('nik').touched ? 'is-invalid' : ''
                    }}" placeholder="Nomor Induk Kependudukan" required autofocus formControlName="nik" autocomplete="off" />
                    <span class="invalid-feedback" role="alert">
                      <strong>NIK Tidak Valid!</strong>
                    </span>
                    <span role="alert" *ngIf="registerErrorData && registerErrorData.nik" style="font-size: 80%; color: #dc3545;">
                      <strong>{{ registerErrorData.nik }}</strong>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="name" class="col-md-4 col-form-label text-md-right">Nama</label>
                  <div class="col-md-8">
                    <input type="text" id="name" [attr.disabled]="registerStep != 1 ? '' : null" class="form-control {{
                      !fg.get('name').valid && fg.get('name').touched ? 'is-invalid' : ''
                    }}" placeholder="Nama Lengkap" required formControlName="name" autocomplete="off" />
                    <span class="invalid-feedback" role="alert">
                      <strong>Nama Tidak Boleh Kosong!</strong>
                    </span>
                  </div>
                </div>
              </app-fade>
              <app-fade [show]="registerStep == 2">
                <div class="form-group row">
                  <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail</label>
                  <div class="col-md-8">
                    <input type="email" id="email" [attr.disabled]="registerStep != 2 ? '' : null" class="form-control {{
                      !fg.get('email').valid && fg.get('email').touched ? 'is-invalid' : ''
                    }}" placeholder="Alamat Surat Elektronik" required autofocus formControlName="email" autocomplete="off" />
                    <span class="invalid-feedback" role="alert">
                      <strong>Format Email Tidak Benar!</strong>
                    </span>
                    <span role="alert" *ngIf="registerErrorData && registerErrorData.email" style="font-size: 80%; color: #dc3545;">
                      <strong>{{ registerErrorData.email }}</strong>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="phone" class="col-md-4 col-form-label text-md-right">No. HP</label>
                  <div class="col-md-8">
                    <input type="text" id="phone" [attr.disabled]="registerStep != 2 ? '' : null" class="form-control {{
                      !fg.get('phone').valid && fg.get('phone').touched ? 'is-invalid' : ''
                    }}" placeholder="Nomor Telepon Genggam" required formControlName="phone" autocomplete="off" />
                    <span class="invalid-feedback" role="alert">
                      <strong>Telepon Tidak Valid!</strong>
                    </span>
                    <span role="alert" *ngIf="registerErrorData && registerErrorData.phone" style="font-size: 80%; color: #dc3545;">
                      <strong>{{ registerErrorData.phone }}</strong>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-md-4 col-form-label text-md-right">Kata Sandi</label>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col pr-0">
                        <input type="{{ showPassword ? 'text' : 'password' }}" id="password" [attr.disabled]="registerStep != 2 ? '' : null" class="col form-control {{
                            !fg.get('password').valid && fg.get('password').touched ? 'is-invalid' : ''
                          }}" placeholder="Kata Sandi" required formControlName="password" autocomplete="off" />
                      </div>
                      <a class="btn btn-link text-secondary px-2 mr-3" (click)="showHidePassword()">
                        <i class="fa fa-fw fa-eye" *ngIf="showPassword"></i>
                        <i class="fa fa-fw fa-eye-slash" *ngIf="!showPassword"></i>
                      </a>
                    </div>
                    <span role="alert" *ngIf="!fg.get('password').valid && fg.get('password').touched" style="font-size: 80%; color: #dc3545;">
                      <ng-container *ngIf="fg.controls['password'].hasError('noPasswordMin'); else elsePassword">
                        <strong>Password Minimal 8 Karakter!</strong>
                      </ng-container>
                      <ng-template #elsePassword>
                        <strong>Password Tidak Boleh Kosong!</strong>
                      </ng-template>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="reTypePassword" class="col-md-4 col-form-label text-md-right">Ulangi Kata Sandi</label>
                  <div class="col-md-8">
                    <input type="password" id="reTypePassword" [attr.disabled]="registerStep != 2 ? '' : null" class="form-control {{
                      !fg.get('reTypePassword').valid && fg.get('reTypePassword').touched ? 'is-invalid' : ''
                    }}" placeholder="Konfirmasi Password" required formControlName="reTypePassword" autocomplete="off" />
                    <span class="invalid-feedback"role="alert">
                      <ng-container *ngIf="fg.controls['reTypePassword'].hasError('noPasswordMatch');else elseConfPass"
                      >
                        <strong>Password Tidak Sesuai!</strong>
                      </ng-container>
                      <ng-template #elseConfPass>
                        <strong>Password Tidak Boleh Kosong!</strong>
                      </ng-template>
                    </span>
                  </div>
                </div>
              </app-fade>
              <app-fade [show]="registerStep == 3">
                <div class="form-group row">
                  <label for="ethAccount" class="col-md-4 col-form-label text-md-right">Punya Ethereum?</label>
                  <div class="col-md-8">
                    <select id="ethAccount" class="form-control {{
                        !fg.get('ethAccount').valid && fg.get('ethAccount').touched ? 'is-invalid' : ''
                      }}" name="ethAccount" required formControlName="ethAccount">
                      <option value="" disabled>Pilih Salah Satu!</option>
                      <option value="tidak">Tidak, Buat Akun Baru Sekarang</option>
                      <option value="ya">Ya, Gunakan Akun Lama Saya</option>
                    </select>
                    <span class="invalid-feedback" role="alert">
                      <strong>Pilih Salah Satu!</strong>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ethAccountImport" class="col-md-4 col-form-label text-md-right">Private Key</label>
                  <div class="col-md-8">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="ethAccountFile"
                        (change)="onFileSelected($event)" [disabled]="registerFormVal.ethAccount != 'ya'" />
                      <label class="custom-file-label text-truncate" for="ethAccountFile" style="z-index: 0;">{{ secretKeyFileName }}</label>
                    </div>
                    <textarea id="result" id="ethAccountImport" rows="5" [attr.disabled]="registerFormVal.ethAccount != 'ya' ? '' : null"
                      class="form-control" placeholder="{{ secretKeyFileContent }}" formControlName="ethAccountImport">
                    </textarea>
                    <span role="alert" *ngIf="registerErrorData && registerErrorData.ethAccountImport" style="font-size: 80%; color: #dc3545;">
                      <strong>{{ registerErrorData.ethAccountImport }}</strong>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="walletPassword" class="col-md-4 col-form-label text-md-right">Wallet Password</label>
                  <div class="col-md-8">
                    <input type="text" id="walletPassword" class="form-control" [attr.disabled]="registerFormVal.ethAccount != 'ya' ? '' : null"
                      placeholder="Wallet Passphrase / Password" formControlName="walletPassword" autocomplete="off" />
                    <span class="invalid-feedback" role="alert">
                      <strong>Wallet Tidak Boleh Kosong!</strong>
                    </span>
                  </div>
                </div>
              </app-fade>
              <div class="form-group row" *ngIf="registerStep == 1">
                <div class="col-md-8 offset-md-4">
                  <re-captcha #captchaRef formControlName="googleCaptchaResponse" siteKey="6Ld4Bt4UAAAAAKJQ_jfqtWdsq9BuARLHag2DBvqK"
                    (resolved)="resolved($event, captchaRef)"></re-captcha>
                </div>
              </div>
              <div class="form-group row mb-0">
                <div class="col-md-4 text-md-right">
                  <button class="btn btn-link btn-block text-decoration-none" type="button" routerLink="/login" [disabled]="submitted">Sudah Punya Akun?</button>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-6 pr-0">
                      <button class="btn btn-link btn-block" type="button" [disabled]="registerStep > 3" (click)="onRegisterPrevious()">
                        <i class="fa fa-fw fa-arrow-left"></i>
                        Previous
                      </button>
                    </div>
                    <div class="col-6 pl-0">
                      <button class="btn btn-success btn-block text-white" type="button" (click)="onRegisterNext()"
                        [disabled]="
                          registerStep == 1 && !kpuRiUserData ||
                          registerStep == 2 && !(
                            fg.get('email').valid && fg.get('email').touched &&
                            fg.get('phone').valid && fg.get('phone').touched &&
                            fg.get('password').valid && fg.get('password').touched &&
                            fg.get('reTypePassword').valid && fg.get('reTypePassword').touched
                          ) ||
                          registerStep == 3 && (
                            registerFormVal.ethAccount == 'ya' && (
                              registerFormVal.ethAccountImport == null ||
                              registerFormVal.ethAccountImport == undefined ||
                              registerFormVal.ethAccountImport == ''
                            ) || (
                              registerFormVal.ethAccount == ''
                            )
                          ) ||
                          submitted
                        ">
                        {{ registerStep < 3 ? 'Next' : 'Finish' }}
                        <i class="fa fa-fw fa-arrow-right ml-2" *ngIf="registerStep < 3"></i>
                        <i class="fa fa-fw fa-check ml-2" *ngIf="registerStep >= 3"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-3" [ngStyle]="{
        'background-position': 'center',
        'background-size': 'cover',
        'background-image': 'url(' + registerImg + ')'
      }"></div>
    </div>
  </div>
</div>

