<!-- Header -->
<app-header></app-header>

<!-- Overlay -->
<div id="overlay">

  <!-- Overlay Content -->
  <div class="bifeldy text-right text-white">
    <h1 class="IndieFlower">
      {{ title }}
    </h1>
    <h2 class="NanumPenScript">
      {{ description }}
    </h2>
    <h5 class="Nunito" id="jam">
      Clock'z
    </h5>
  </div>

</div>

<!-- Content -->
<main class="bifeldy">

  <!-- Routing Pages -->
  <router-outlet></router-outlet>

</main>

<!-- Footer -->
<app-footer></app-footer>


<ngx-spinner [bdColor]="'#0000007f'" [type]="'square-jelly-box'" [size]="'medium'" [color]="'#e84360'"></ngx-spinner>